.grey-text {
  color: gray;
}

.green-text {
  color: green;
}

.root-container {
  padding: 200px 0;
}

.player-card__img {
  /*background-color: #FFFF30;*/
  width: 110px;
  height: 140px;
}

.slick-prev:before, .slick-next:before {
  color:red !important;
}

.slider-root {
  width: 60% !important;
  margin-bottom: 50px;
}