html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

@media only screen and (min-width: 768px) {
  .root-container {
    padding: 20px;
  }
}

.grey-text {
  color: gray;
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}

.root-textalign {
  text-align: center;
}

.root__player-carousel--forwards {
  border: 2px solid #00ff85;
}

.root__player-carousel--mid-fielders {
  border: 2px solid #38003c;
}

.root__player-carousel--defenders {
  border: 2px solid #e90052;
}

.root__player-carousel--goal-keepers {
  border: 2px solid #04f5ff;
}

.player-card__card-header {
    padding: 0;
    min-height: 35px;
}

.player-card-header__availability {
    height: 100%;
    color: white;
}

.player-card-header__availability--100 {
    background-color: green;
}

.player-card-header__availability--75 {
    background-color: yellow;
    color: black;
}

.player-card-header__availability--50 {
    background-color: orange;
    color: black;
}

.player-card-header__availability--25 {
    background-color: darkorange;
    color: black;
}

.player-card-header__availability--0 {
    background-color: red;
}

.player-card__img {
  width: 110px;
  height: 140px;
}

.player-card__fixture-cell {
  font-size: x-small;
}

.player-card__difficulty-cell {
  color: white;
}

.player-card__difficulty-cell--d5 {
  background-color: darkred;
}

.player-card__difficulty-cell--d4 {
  background-color: #aa4c50;
}

.player-card__difficulty-cell--d3 {
  background-color: grey;
}

.player-card__difficulty-cell--d2 {
  background-color: #85d600;
}

.player-card__difficulty-cell--d1 {
  background-color: lightgreen;
}

.player-card__flip-btn {
  color: lightgrey;
}

.player-card__back-body {
  min-height: 200px;
  color: lightgrey;
}

.player-card__prediction-li {
  color: black;
}

.slick-prev:before, .slick-next:before {
  color: #38003c !important;
}

.slider-root {
  width: 90% !important;
  margin-bottom: 50px;
}

.root__picky {
  background-color: #ffffff;
  .picky__dropdown,
  .option {
    font-size: 2em;
  }
}

.sidepanel-card {
    border: 0;
    background-color: transparent;
}

.filter-controls-card {
    border: 1px solid #f0f0f0;
    border-radius: 0;
}

.filter-controls-card__header {
    margin: -0.5rem;
    margin-bottom: 0.5rem;
    color: white;
    background-color: #38003c;
    border-radius: 0;
}

.sort-by-picker__radio-btns {
    width: 100%;
    padding-left: 1.25rem;
}

.team-filter__picky:focus {
    outline: none;
}

.team-filter__picky > .picky__input {
    background-color: transparent;
    border: 1px solid grey;
    color: grey
}

.team-filter__picky > .picky__dropdown {
    padding-left: 1rem;
}

.team-filter__dropdown-item--selected{
    color: #38003c !important;
    font-weight: bold;
}

.player-carousel-card {
    border: 0;
    background-color: transparent;
}

.nav-tab__content {
    border: 1px solid #f0f0f0;
    background-color: white;
}

.nav-tab__content > .nav-tabs {
    border: 0;
}

.nav-tab__content > .nav-tabs > .nav-item > .nav-link {
    color: #38003c;
    border: 0;
    border-bottom: 2px solid white;
}

.nav-tab__content > .nav-tabs > .nav-item > .nav-link.active {
    color: #38003c;
    background-color: #00ff85;
    border: 0;
    border-radius: 0;
}

.nav-tab__content > .nav-tabs > .nav-item > .nav-link:hover {
    border-bottom: 2px solid #38003c;
}

.twitter-feed-card-2 {
    border: 0;
    background-color: transparent;
}

.page-header {
    border-bottom: 1px solid #f0f0f0;
    color: #ffffff;
}

.page-header > .row {
    min-height: 60px;
    background-color: rgb(255, 255, 255);
}

.logo-image {
    height: 40px;
}

.root-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    background-color: rgb(252, 252, 252);
}

.price-change-card {
    background-color: white;
    border: 1px solid #f0f0f0;
    border-radius: 0;
}

/*New styles:*/

.carousel-container {
    background-color: #fbfbfb;
}

.player-card__container {
    border: 0;
    border-radius: 10px !important;
    width: 287px;
    height: 347px;
}

.player-card__front-body {
    height: 347px;
    background-image: linear-gradient(138deg, #03c1e4, #1e7ed8);
    color: white;
}

.player-card__front-footer {
    min-height:44px;
    background-color: #f8f8f8;
}

.player-card-body__top {
    height: 200px;
    width: 100%;
}

.pc-body-top__jersey {
    width: 60%;
}

.pc-body-top__matches {
    width: 40%;
    font-size: x-small;
}

.player-card-__player-name {
    font-size: larger;
}

.player-card-__player-cost {
    font-size: x-large;
}