.grey-text {
  color: gray;
}

.green-text {
  color: green;
}

.root-container {
  padding: 50px;
}

.root__player-carousel--forwards {
  border: 2px solid #00ff85;
}

.root__player-carousel--mid-fielders {
  border: 2px solid #38003c;
}

.root__player-carousel--defenders {
  border: 2px solid #e90052;
}

.root__player-carousel--goal-keepers {
  border: 2px solid #04f5ff;
}

.player-card__container {
  border: 1px solid lightgray !important;
  border-radius: 5px !important;
  min-height: 300px;
}

.player-card__img {
  width: 110px;
  height: 140px;
}

.player-card__fixture-cell {
  font-size: smaller;
}

.player-card__difficulty-cell {
  color: white;
}

.player-card__difficulty-cell--d5 {
  background-color: darkred;
}

.player-card__difficulty-cell--d4 {
  background-color: red;
}

.player-card__difficulty-cell--d3 {
  background-color: darkgrey;
}

.player-card__difficulty-cell--d2 {
  background-color: lawngreen;
}

.player-card__difficulty-cell--d1 {
  background-color: lightgreen;
}

.player-card__flip-btn {
  color: lightgrey;
}

.player-card__back-body {
  min-height: 200px;
  color: lightgrey;
}

.player-card__prediction-li {
  color: black;
}

.slick-prev:before, .slick-next:before {
  color:red !important;
}

.slider-root {
  width: 90% !important;
  margin-bottom: 50px;
}

.root__picky {
  background-color: #ffffff;
  .picky__dropdown,
  .option {
    font-size: 2em;
  }
}